/*style for about me blocks and text*/
.about {
    display: flex;
    justify-content: space-around;
    margin-top: 14.4rem;
}

.about_image {
    padding-top: 3.3rem;
}

.about_image img {
    max-width: 100%;
}

.about_text {
    width: 46%;
}
.about_me {
    width: 14.8rem;
}

.about_title {
    margin-top: 1rem;
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    color: var(--text_color);
}

.about_descr {
    margin-top: 2.9rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.0rem;
    color: #D5D5D5;
}

.btn_about {
    margin-top: 5.4rem;
    width: 14.7rem;
    padding: 1.7rem;
}