/*style for the customers review section*/
.customers {
    margin-top: 14.4rem;
    display: flex;
    flex-direction: column;
}

.customers_head {
    width: 19.2rem;
    margin: 0 auto;
}

.customers_title {
    margin-top: .9rem;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 3.92896rem;
    line-height: 4.6rem;
    text-transform: capitalize;
    color: var(--text_color);
    text-align: center;
}

.customers_review {
    margin-top: 9rem;
    display: flex;
    justify-content: space-evenly;
}

.customers_review .customers_card:nth-child(2) {
    margin-right: 4rem;
    margin-left: 4rem;
}

.customers_card {
    padding: 5.2rem 5.1rem 4.9rem 3.1rem;
    background-color: #FFF;
    border-radius: .8rem;
    max-width: 26%;
    box-sizing: border-box;
}

.review_rating:before {
    content: "\02B50\02B50\02B50\02B50\02B50";
    width: 1.3rem;
    height: 1.3rem;
}

.review_text {
    padding-top: 2.2rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;
    color: #000;
}

.review_person {
    padding-top: 3.7rem;
}

.person_name {
    padding-left: 9.4rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.4rem;
}

.person_name div {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.4rem;
}

.review_person img{
    float: left;
}