/*style for the footer and link*/
.footer {
    font-family: var(--work_sans);
    margin-top: 14.4rem;
    background-color: var(--background_footer);
    padding: 14.8rem 4.8rem 8.9rem 5rem;
    display: flex;
    justify-content: space-between;
}

.footer_design {
    width: 20%;
}

.design_name {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 100%;
    color: var(--second_color);
}

.design_descr {
    padding-top: 3rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #D4D4D4;
}

.footer_title {
    margin-bottom: 1.6rem;
    font-weight: 700;
    font-size: 2.15865rem;
    line-height: 3.2rem;
    color: #F5FBF2;
}
/*style for social media and link*/
.footer li, .news_descr {
    font-weight: 500;
    font-size: 1.79888rem;
    line-height: 3.6rem;
    color: #7B7B7B;
}

.footer a {
    text-decoration: none;
    color: #7B7B7B;
    transition: color .3s;
}

.footer ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_news {
    width: 26%;
}

.footer a:hover {
    color: var(--second_color);
}
/*style for from email*/
.news_descr {
    position: relative;
}

.news_descr button {
    background: var(--second_color);
    border-radius: 5rem;
    position: absolute;
    height: 6.32rem;
    width: 6.31rem;
    top: 62%;
    left: 81%;
    border: none;
}

.news_descr img {
    width: 2rem;
    height: 2rem;
}

.email {
    margin-top: 3.1rem;
    background: #212529;
    border-radius: 4.9rem;
    border: none;
    height: 6.32rem;
    width: 90%;
    padding-left: 2.4rem;
    outline: none;
    cursor: var(--cursor);
}

.news_descr button:hover {
    cursor: var(--cursor);
}
