/*Все виконано згідно дз, додатково зроблено анімацію логотипу,
анімацію емодзі руки а також елементів із блоку skills, форму для пошти*/
/*import fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@500;700&family=Work+Sans:wght@400;500;600;700&display=swap');
/*import normalize*/
@import url('./normalize.css');
/*import variables for style*/
@import url('./variables.css');
/*style for header*/
@import url('./header.css');
/*style for the main screen*/
@import url('./main.css');
/*style for the about me section*/
@import url('./about.css');
/*style for my skills section*/
@import url('./skills.css');
/*style for my works section*/
@import url('./works.css');
/*style for customers review section*/
@import url('./customers.css');
/*style for footer section*/
@import url('./footer.css');
/*style for slow scrolling for anchor*/
html {
    scroll-behavior: smooth;
}
/*general style for page*/
body {
    background-color: var(--main_background);
    font-family: var(--poppins);
    font-style: normal;
}
/*general style for buttons*/
.btn_hire {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--second_color);
    border-radius: 5rem;
    text-decoration: none;
    color: #212529;
    box-sizing: border-box;
    align-self:center;
    text-align: center;
}

.btn_title {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5rem;
    color: var(--second_color);
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 3.0rem;
}

a:hover {
    cursor: var(--cursor);
}

.btn_hire:hover {
    box-shadow: 4px -1px 19px 0 rgba(255,183,66,1);
}
