/*style for my works block and image*/
.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10.3rem;
    margin-right: 10.3rem;
}

.works_head {
    width: 16rem;
}

.works_title {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.6rem;
    color: var(--text_color);
}

.switch {
    margin-top: 4.5rem;
    width: 58%;
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3rem;
}

.switch a {
    padding: .5rem 2rem;
    border-radius: .3rem;
    transition: all .4s;
    text-decoration: none;
    color: var(--text_color);
}

.switch a:hover {
    background-color: var(--second_color);
    color: var(--black);
}

.works_card {
    display: flex;
    margin-top: 4.8rem;
}

.works_card img {
    max-width: 100%;
}

.colum {
    display: flex;
    flex-direction: column;
}

.works_card .colum:nth-child(2) {
    margin-right: 3.3rem;
    margin-left: 3.3rem;
}

.colum div:first-child {
    padding-bottom: 3.1rem;
}