@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Irish Grover", sans-serif;
  font-weight: 400;
}

.main {
  background: url("../img/bg/background.png") center bottom/cover no-repeat;
  height: 100vh;
}

.logo {
  margin: 0 auto;
  max-width: 25%;
}
.logo img {
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  max-width: 100%;
  max-height: 100%;
}
.container .left, .container .right, .container .center {
  width: 19%;
}
.container .left img, .container .right img, .container .center img {
  margin-top: 10%;
  width: 100%;
  border-radius: 12%;
}
.container .colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .colum a {
  text-decoration: none;
}
.container .colum .button {
  width: 100%;
  min-height: 5%;
  background-color: #C4C4C4;
  color: #000;
  text-align: center;
  font-size: calc(24px + 0.9339248191vw);
}

.video__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}
.video__person video {
  width: 85%;
  height: 70%;
}

.seasons {
  position: relative;
  margin-top: 6%;
  margin-left: 5%;
  height: 69%;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input:checked + label {
  color: #B0DD28;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(176, 221, 40, 0.41);
          box-shadow: 5px 5px 15px 5px rgba(176, 221, 40, 0.41);
}

label {
  display: block;
  color: #000;
  background-color: #C4C4C4;
  font-size: calc(24px + 0.9339248191vw);
  text-align: center;
  cursor: pointer;
  width: 25%;
}

#seasons_2, #seasons_3, #seasons_4 {
  margin-top: 5%;
}

.seasons__video {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.seasons__video:after {
  padding-top: 56.25%;
  display: block;
  content: "";
}
.seasons__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.seasons__position {
  position: absolute;
  width: 51%;
  top: 2%;
  left: 35%;
}

.seasons_1, .seasons_4, .seasons_3, .seasons_2 {
  visibility: collapse;
}

#seasons_1:checked ~ * .seasons_1 {
  visibility: visible;
}

#seasons_2:checked ~ * .seasons_2 {
  visibility: visible;
}

#seasons_3:checked ~ * .seasons_3 {
  visibility: visible;
}

#seasons_4:checked ~ * .seasons_4 {
  visibility: visible;
}