//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap')
//global style
body
  margin: 0
  padding: 0
  font-family: 'Irish Grover', sans-serif
  font-weight: 400

.main
  background: url("../img/bg/background.png") center bottom/cover no-repeat
  height: 100vh
//style for logo
.logo
  margin: 0 auto
  max-width: 25%
  img
    width: 100%
//style main content
.container
  display: flex
  justify-content: space-evenly
  color: white
  max-width: 100%
  max-height: 100%
  .left, .right, .center
    width: 19%
    img
      margin-top: 10%
      width: 100%
      border-radius: 12%
  .colum
    display: flex
    flex-direction: column
    align-items: center
    a
      text-decoration: none
    .button
      width: 100%
      min-height: 5%
      background-color: #C4C4C4
      color: #000
      text-align: center
      font-size: calc(24px + 40 * (100vw / 4283))
//style for the video about person
.video__person
  display: flex
  justify-content: center
  align-items: center
  height: 80%
  video
    width: 85%
    height: 70%
//style for page of seasons
.seasons
  position: relative
  margin-top: 6%
  margin-left: 5%
  height: 69%

input
  appearance: none
  &:checked + label
    color: #B0DD28
    box-shadow: 5px 5px 15px 5px rgba(176,221,40,0.41)

label
  display: block
  color: #000
  background-color: #C4C4C4
  font-size: calc(24px + 40 * (100vw / 4283))
  text-align: center
  cursor: pointer
  width: 25%

#seasons_2, #seasons_3, #seasons_4
  margin-top: 5%
//style for adaptive video 16:9
.seasons__video
  overflow: hidden
  position: relative
  width: 100%
  &:after
    padding-top: 56.25%
    display: block
    content: ''
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
//style for alignment video block
.seasons__position
  position: absolute
  width: 51%
  top: 2%
  left: 35%
//implementation of switching seasons
.seasons_1, .seasons_4, .seasons_3, .seasons_2
  visibility: collapse

#seasons_1:checked ~ * .seasons_1
  visibility: visible

#seasons_2:checked ~ * .seasons_2
  visibility: visible

#seasons_3:checked ~ * .seasons_3
  visibility: visible

#seasons_4:checked ~ * .seasons_4
  visibility: visible