//import google font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;400;500;600;700&display=swap')
//import mixins
@import mixins
//global style
html
  font-size: 10px
body
  @include font_style()
  margin: 0
  padding: 0

ul
  margin: 0
  padding: 0
  list-style: none

a
  text-decoration: none

.container
  padding-left: 6rem
  padding-right: 6rem

.uppercase
  text-transform: uppercase

.background
  background-color: #F1F1F1
//style for header menu
.header-top
  @include flex_between
  align-items: center
  &__nav
    @include flex_between
    width: 100%
  &__nav-item
    a
      font-size: 2rem
      color: #333333
      &:hover
        text-shadow: 6px 2px 4px rgba(160,73,85,0.62)
  &__search
    input
      color: #787878
      font-size: 1.5rem
      text-transform: uppercase
      padding: 1rem 2rem 1rem 4rem
      background: url(../img/icon/search.svg) no-repeat 1rem center
      width: 27rem
      border: 1px solid #A04955
      border-radius: 5.4rem

  nav
    width: 40%

//style for main screen banner and text
.banner
  @include flex_between
  padding-top: 7rem
  padding-bottom: 9rem
  .right
    padding-right: 3rem
  .left
    padding-left: 6rem
  &__content
    align-self: center
  &__title
    @include font_style('Oswald', 700, 6.5rem)
    color: #001F3D
  &__descr
    @include font_style('Open Sans', 300, 2.4rem)
    color:  #000
    padding-bottom: 3rem
    line-height: 3.3rem
  &__button
    @include button_banner
    padding: .9rem 1.2rem
    width: 24rem
    height: 5rem
//style for the product card
.production
  padding-top: 8rem
  text-align: center
  color: #333
  padding-bottom: 8rem
  &__title
    @include font_style('Oswald', 500, 3.6rem)
    margin: 0
  &__descr
    @include font_style('Oswald', 500, 6.4rem)
    padding-top: 1.5rem
    margin: 0
.production__card
  padding-top: 2.3rem
  @include flex_between
.card
  @include card
  width: 18rem
  padding: 3.1rem 5rem
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05)
  &__img
    padding-bottom: .5rem
  &__title
    padding-bottom: .5rem
  &__price
    padding-top: .5rem
    padding-bottom: 1.5rem
  &__buy
    padding: .7rem 1rem

//style for collections and sale
.collection
  padding-top: 10.7rem
  padding-bottom: 10.8rem
  @include flex_between
  text-align: center
  &__card
    width: 47%
  &__img
    height: 55.6rem
    display: flex
    justify-content: center
    &-text
      align-self: flex-end
      height: 8.6rem
      line-height: 8.6rem
      width: 100%
      background-color: rgba(160, 73, 85, 0.8)
      @include font_style('Oswald', 500, 3.6rem)
      color: #FFF
  .left
    background: url("../img/ecoths.png") center center/cover no-repeat
  .right
    background: url("../img/powell_print.png") center center/cover no-repeat
  &__descr
    padding-top: 3.5rem
    @include font_style('Open Sans', 300, 2.4rem)
  &__button
    @include button_banner
    margin-top: 2.5rem
    padding: .9rem 1.8rem
    width: 36.6rem
.collection__button-aling
  display: flex
  justify-content: center

//style for SPORTIF ORIGINAL PANT
.background-image
  background: url("../img/backgroung/wood.jpeg") center center/cover no-repeat
.sportif
  padding-top: 2.2rem
  padding-bottom: 4rem
  width: 39%
  color: #FFF
  &__title
    @include font_style('Oswald', 700, 6.5rem)
    line-height: 9.6rem
    margin: 0
  &__descr
    @include font_style('Open Sans', 300, 2.4rem)
    line-height: 3.3rem
    padding-bottom: 3rem
  &__button
    color: #FFFF
    padding: .9rem 2.1rem
    background-color: #A04955
    @include font_style('Open Sans', 300, 2.4rem)

//style for STAY IN TREND
.trend
  margin-top: 10rem
  padding-top: 3rem
  padding-bottom: 9rem
  background: url("../img/backgroung/red.png") center 1% repeat-x
  text-align: center
  &__title
    @include font_style('Oswald', 700, 6.5rem)
    color: #FFF
.trend__card
  @include  flex_between
  padding-left: 8.9rem
  padding-right: 8.9rem
  .card
    border: 1px solid #A04955
    width: 28rem
    padding: 2rem 2rem 3.6rem 2rem
    &__img
      padding-bottom: 1.5rem
    &__title
      padding-bottom: 1.5rem
    &__buy
      width: 24.2rem
      padding: .8rem 0

//style for 50 years excellence
.excellence
  padding-bottom: 8.9rem
  @include font_style('Open Sans', 300, 2.4rem)
  text-align: center
  &__title
    @include font_style('Oswald', 700, 6.5rem)
    color: #001F3D
    margin: 0
  &__button
    @include button_banner
    display: inline-block
    margin-top: 3.5rem
    padding: 1.1rem 7.3rem
.excellence__arrow-up
  width: 8.3rem
  height: 8.3rem
  background-color: #A04955
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  top: 90%
  left: 90%

//style for footer
.background-red
  background-color: #A04955
.footer
  display: flex
  justify-content: space-between
  @include font_style('Oswald', 400, 1.8rem)
  color: #FFFF
  a
    color: #FFF
  li
    line-height: 180.8%
    transition: all 0.3s
    &:hover
      transform: scale(1.1)
  h4
    @include font_style('Oswald', 600, 2.4rem)
    text-transform: uppercase
  form
    position: relative
    padding-top: 3.5rem
    input
      padding-left: 2rem
      margin-top: 1rem
      display: block
      width: 50rem
      height: 6rem
      &::placeholder
        color: #A04955
  &__button
    background-color: #A04955
    color: #FFF
    border: none
    position: absolute
    top: 58%
    left: 60%
    padding: 1.2rem 0
    width: 16.7rem
    transition: all .4s
    &:hover
      cursor: pointer
      transform: scale(1.05)
//copyrighting section
.copyrighting
  @include font_style('Oswald', 400, 1.4rem)
  color: rgba(0, 0, 0, 0.5)
  padding: 1rem 0