@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  background-color: #adfdf4;
}
body a {
  margin-top: 40px;
  display: inline-block;
}

.output {
  color: #6b6868;
}
.output span {
  color: #ec4bff;
}