@media screen and (max-width: 741px)
  .container
    padding: 27px 30px 69px 20px
    grid-template-rows: 26% 27% 16% 17%
    div
      padding: 10px 12px
  .person
    p
      margin: 4px 0
    h1
      margin: 0
  body
    font-size: 12px
    margin: 0

@media screen and (max-width: 520px)
  .container
    grid-template-areas: "person" "bio" "goals" "dream" "personality" "quote"
    grid-template-columns: 100%
    grid-template-rows: 25% 15% 11% 15% 10% 7%
    text-align: center
  body
    font-size: 14px
  ul
    text-align: left
    li
      margin-left: 10%
  .person
    p
      margin: 9px 0
      text-align: center