//import variables
@use "variables";
//import fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
//general style
:root{
    font-size: 10px;
}

body{
    font-size: variables.$font-size;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: variables.$main-color;
    font-weight: 600;
    font-family: variables.$font-family;
}

.container{
    display: flex;
}
//style for menu
.left-menu{
    transition: all .8s;
    padding: 2rem 0 4.9rem 0;
    width: calc(90px - 1.6rem);
    height: calc(100vh - 2rem - 4.9rem);
    border-right: 1px solid variables.$main-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &:hover{
        width: calc(263px - 1.6rem);
    }
    &:hover + .arrow div{
        transform: rotate(180deg);
    }
    &__user{
        padding-left: 2.4rem;
        padding-right: 2.2rem;
        display: grid;
        grid-template-columns: 1fr 4fr;
        font-weight: 700;
        color: variables.$user-name-color;
        svg{
            grid-row: 1/3;
            padding-right: .8rem;
        }
        a {
            text-decoration: none;
            color: variables.$main-color;
            font-weight: 400;
        }
    }
    &__search{
        padding-left: 1.6rem;
        padding-right: 1.4rem;
        input{
            margin-top: 5.6rem;
            background-image: url("../img/icon/search_icon.svg");
            background-repeat: no-repeat;
            padding: 1.3rem 0 1.3rem 4rem;
            background-color: variables.$main-bg-color;
            width: 100%;
            height: 5rem;
            border: none;
            border-radius: 8px;
            background-position: center left 10px;
            &::placeholder{
                font-size: variables.$font-size;
                font-family: variables.$font-family;
            }
    }
    }
    &__nav{
        padding-top: 3rem;
        display: grid;
        grid-template-columns: .1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 1.6rem;
        padding-left: 3.2rem;
        img{
            padding: 1.3rem 1.75rem 1.3rem 0;
        }
        a{
            text-decoration: none;
            color: variables.$main-color;
            padding: 1.3rem 0;
            width: 90%;
            &:hover{
                background-color: variables.$main-bg-color;
                border-radius: 8px;
            }
        }
        }
    &__logout{
        text-decoration: none;
        color: variables.$main-color;
        padding: 1.3rem 0;
        width: 90%;
        &:hover{
            background-color: variables.$main-bg-color;
            border-radius: 8px;
        }
    }
    &__footer{
        display: grid;
        grid-template-columns: .1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1.6rem;
        padding-left: 3.2rem;
        img{
            padding-right: 1.85rem;
            height: 22px;
        }
        img:nth-child(1){
            padding-top: 1.3rem;
        }
    }
}
//style for switch dark lite theme
.darkmode{
    display: flex;
    label {
        width: 35px;
        height: 22px;
        position: relative;
        display: block;
        background-color: variables.$main-bg-color;
        border-radius: 100px;
        cursor: pointer;
        transition: .7s;
        margin-left: 3.2rem;
        left: -160px;
    }
    label:after {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 3px;
        left: 1px;
        background: #FFF url("../img/icon/sun_button.svg")center center/75% no-repeat;
        border-radius: 50%;
        box-shadow: variables.$box-shadow;
        transition: 0.5s;
    }
    input {
        display: none;
    }
    input:checked+label {
        background-color: variables.$bg-second-color;
    }
    input:checked+label:after {
        left: 34px;
        transform: translateX(-100%);
        background: variables.$bg-second-color url("../img/icon/moon_button.svg")center center/75% no-repeat;
        transition: 0.5s;
        box-shadow: variables.$box-shadow;
    }
    label:active:after {
        width: 18px;
    }
    input:checked+label+.background {
        background-color: variables.$bg-second-color;
    }
}
//style for arrow move menu
.arrow {
    position: relative;
    div{
        transition: all .7s;
        position: absolute;
        background-color: variables.$arrow-bg-light;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: -1.2rem;
    }
}
//disable sun for dark menu
.sun{
    display: none;
}
//style for dark theme
.dark {
    .svg-background{
        fill: variables.$arrow-bg-dark;
    }
    .left-menu{
        color: variables.$dark-main-color;
        background-color: variables.$dark-bg-color;
        a {
            color: variables.$dark-main-color;
            &:hover{
                background-color: variables.$bg-second-color;
            }
        }
        &__user{
            color: variables.$dark-name-color;
        }
        &__search input{
            background-color: variables.$bg-second-color;
        }
    }
    .sun{
        display: block;
    }
    .moon{
        display: none;
    }
    .arrow {
        div{
            background-color: variables.$arrow-bg-dark;
        }
    }
}
//style for move switch theme
.slide {
    .darkmode{
        label{
            left: 0;
        }
    }
}