/*import fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

/*general style for page*/
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F5F5F5;
}

/*style for title*/
.header {
    padding-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
    text-transform: capitalize;
    color: #020953;
    margin-left: 20px;
}

.subheader {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    text-transform: capitalize;
    color: #060A3F;
    margin-left: 20px;
}

/*style for blocks*/
.first_line, .second_line {
    display: flex;
}

/*style for card*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    width: 263px;
    height: 303px;
    box-shadow: 7px 7px 14px 0px rgba(34, 60, 80, 0.6);
}

.card_price {
    color: #FFC800;
    font-weight: 300;
    font-size: 16px;
    display: none;
}

.card_text {
    font-weight: 300;
    text-transform: capitalize;
    color: #FFF;
    margin-bottom: 12px;
    display: none;
}

/*style background for card*/
.first {
    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/boat_people.jpeg") center center/cover no-repeat;
    transition: all .8s linear;
}

.second {
    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/india.jpeg") center center/cover no-repeat;
    transition: all .9s ease;
}

.third {
    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/river_boat.jpeg") center center/cover no-repeat;
    transition: all .6s ease-in;
}

.fourth {
    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/castle.jpeg") center center/cover no-repeat;
    transition: all .8s linear;
}

.fifth {
    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/boat.jpeg") center center/cover no-repeat;
    transition: all .9s ease;
}

.sixth {
    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/water.jpeg") center center/cover no-repeat;
    transition: all .6s ease-in;
}

/*style for hover text*/
.card:hover .card_price{
    display: block;
}
.card:hover .card_text{
    display: block;
}

/*Вирішення завдання з переміщення карточок з зображеннями виконано декількома методами(які закоментовані)*/
/*method using transform translate*/
body:hover .first {
    transform: translate(0, 343px) rotate(360deg);
}

body:hover .second {
    transform: translate(0, 343px);
}

body:hover .third {
    transform: translate(0, 343px) rotate(360deg);
}

body:hover .fourth {
    transform: translate(0, -343px) rotate(-360deg);
}

body:hover .fifth {
    transform: translate(0, -343px);
}

body:hover .sixth {
    transform: translate(0, -343px) rotate(-360deg);
}


/*method using position relative*/
/*body:hover .first{*/
/*    position: relative;*/
/*    top: 343px;*/
/*}*/
/*body:hover .fourth{*/
/*    position: relative;*/
/*    bottom: 343px;*/
/*}*/

/*body:hover .second{*/
/*    position: relative;*/
/*    top: 343px;*/
/*}*/
/*body:hover .fifth{*/
/*    position: relative;*/
/*    bottom: 343px;*/
/*}*/

/*body:hover .third{*/
/*    position: relative;*/
/*    top: 343px;*/
/*}*/
/*body:hover .sixth{*/
/*    position: relative;*/
/*    bottom: 343px;*/
/*}*/


/*method using change background*/
/*body:hover .first {*/
/*    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/castle.jpeg") center center/cover no-repeat;*/
/*}*/

/*body:hover .second {*/
/*    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/boat.jpeg") center center/cover no-repeat;*/
/*}*/

/*body:hover .third {*/
/*    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/water.jpeg") center center/cover no-repeat;*/
/*}*/

/*body:hover .fourth {*/
/*    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/boat_people.jpeg") center center/cover no-repeat;*/
/*}*/

/*body:hover .fifth {*/
/*    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/india.jpeg") center center/cover no-repeat;*/
/*}*/

/*body:hover .sixth {*/
/*    background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.65) 84.92%), url("../img/river_boat.jpeg") center center/cover no-repeat;*/
/*}*/