/*import fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*import normalize*/
@import url('./normalize.css');
/*Style text for all document*/
:root {
    font-size: 10px;
    --fonts: 'PT Sans', sans-serif;
}
body {
    font-family: var(--fonts);
}
/*style for header*/
.stick {
    position: sticky;
    top: 0;
    z-index: 99;
}

.header {
    background-color: #202846;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img{
    max-height: 7rem;
}

/*style for menu*/
.outer {
    font-weight: 700;
    height: 5.9rem;
    font-size: 2.4rem;
    line-height: 5.9rem;
    text-align: center;
    text-transform: uppercase;
    border-right: 2px solid #FFF;
}

.personal {
    line-height: 3.0rem;
    vertical-align: middle;
    display: inline-block;
}

.outer a{
    text-decoration: none;
    margin-right: 3.7rem;
    margin-left: 2.7rem;
    color: #FFF;
}

.menu {
    display: flex;
    align-items: center;
}

.leng {
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    color: #FFF;
    line-height: 5.9rem;
    text-transform: uppercase;
    margin-right: 6.3rem;
    margin-left: 3.7rem;
    text-decoration: none;
}

.globe {
    max-width: 7.5rem;
    max-height: 7.5rem;
}

.logo {
    margin-left: 11.3rem;
}

.menu svg {
    width: 7.5rem;
    height: 7.5rem;
    fill: #FFF;
}

.menu a:hover {
    color: #AEAEE2;
}

.menu .leng:hover svg{
    fill: #AEAEE2;
}

/*style for subheader*/
.subheader {
    background-color: #C6C6DC;
    font-style: italic;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 14rem;
    min-height: 14rem;
}

/*style for drop down list location*/
.container {
    margin: 0 auto;
    max-width: 148.9rem;
}

.location {
    padding-left: 57.4rem;
    padding-right: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E8E8;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.6rem;
    color: rgba(0, 0, 0, 0.61);
    margin-top: 5.6rem;
    height: 7.3rem;
    transition: all .3s;
}

.triangle img{
    width: 3.5rem;
    height: 2.5rem;
}

.location:hover {
    background-color: #AEABE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

/*style for card*/
.card {
    margin-top: 5.6rem;
}
.content {
    position: relative;
    padding: 2.8rem 8.7rem 3rem 10.3rem;
    display: flex;
    height: 24.2rem;
    background-color: #BDBDC6;
    transition: all .3s;
}

.card_image img{
    max-width: 48.5rem;
    max-height: 24.5rem;
}

.card_text {
    margin-left: 10.2rem;
}

.card_title {
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.7rem;
    border-bottom: 3px solid #FFF;
    transition: all 0.8s ease-in-out;
}

.card_descr {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.8rem;
    background-color: #D7D7DD;
    height: 18.4rem;
}

.card_selected {
    position: absolute;
    left: 143.5rem;
    top: 0.5rem;
}
.card_descr div {
    padding-right: 2.8rem;
    padding-left: 2.8rem;
}

.card_selected svg{
    width: 5rem;
    height: 5rem;
    fill: #FFF;
    transition: all .5s;
}

.card_button {
    position: absolute;
    left: 133.5rem;
    top: 23rem;
    width: 20rem;
    height: 6rem;
    background-color: #202846;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.1rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.card_button a{
    color: #FFF;
    text-decoration: none;
}

.card:hover .content{
    background-color: #AEABE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card:hover .card_title{
    border-bottom: 3px solid #FFFF00;
}

.card_button:hover {
    background-color: #EF075B;
    transform: scale(1.1);
}

.card_selected:hover svg{
    fill: #FFFF00;
}

.card:last-child {
    margin-bottom: 8.7rem;
}

/*style for arrow up*/
.arrow {
    position: relative;
}
.arrow_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    width: 7.5rem;
    background-color: rgba(85, 87, 104, 0.62);
    border-radius: 50%;
    position: absolute;
    left: 154rem;
    top: -1rem;
    z-index: 1;
    transition: all .5s;
}

.arrow svg {
    width: 2.5rem;
    height: 4.5rem;
    fill: #FFF;
    transition: all .5s;
}

.arrow:hover .arrow_content{
    background-color: #EF075B;
    transform: scale(1.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.arrow:hover svg{
    fill: #202846;
    transform: rotate(360deg);
}

/*style for footer*/
.footer {
    display: flex;
    align-items: center;
    height: 9rem;
    background-color: #202846;
    padding-left: 6rem;
}

.footer_text{
    font-style: italic;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4.7rem;
    color: #EEECF1;
}

.footer_text:before {
    content: "\00A9";
}

/*style for minimal adaptation*/
@media (max-width: 1760px) {
    :root {
        font-size: 8px;
    }
}

@media (max-width: 1440px) {
    :root {
        font-size: 7px;
    }
}

@media (max-width: 1240px) {
    :root {
        font-size: 6px;
    }
}
