@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
/*Style text for all document*/
* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
/*style text for paragraph, ordered list*/
p, li{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
/*style text for Philip Emeagwali paragraph*/
.text_philip {
    font-weight: 700;
}
/*style for italic text*/
.text_italic {
    font-style: italic;
}
/*style for bold text*/
.text_strong {
    font-weight: 600;
}
/*indentation between terms for ol*/
.references_list {
    line-height: 18px;
}
