@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  background-color: #adfdf4;
}
body a {
  margin-top: 40px;
  display: inline-block;
}

.block {
  width: 10%;
  height: 100px;
}

.first-task {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.image-task {
  margin-top: 50px;
}
.image-task img {
  height: 200px;
}

.paragraph-task {
  margin-top: 35px;
}

.paragraph {
  margin: 15px auto;
  width: 370px;
  height: 30px;
  line-height: 30px;
  border-radius: 49px;
  background: linear-gradient(145deg, #d8d8d8, #ffffff);
  -webkit-box-shadow: 8px 8px 13px #cacaca, -8px -8px 13px #ffffff;
          box-shadow: 8px 8px 13px #cacaca, -8px -8px 13px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.paragraph .delete {
  cursor: pointer;
}
.paragraph .delete:hover {
  color: #ff0000;
}