//mixin for general font style
@mixin main_font
  font-family: 'Roboto', sans-serif
  font-weight: 400
  font-size: 1.4rem
  line-height: 2.8rem
//mixin for input field
@mixin account_input($width, $padding-l)
  height: 4.8rem
  width: $width
  padding-left: $padding-l
  border: 1px solid #D1D1D1
  @include main_font
//mixin for button
@mixin button($width:10.2rem, $height:4.8rem)
  background-color: #4743E0
  border: none
  outline: none
  width: $width
  height: $height
  color: #FFF
  &:hover
    cursor: pointer
    box-shadow: 0 0 1.4rem rgba(71, 67, 224, 0.2)
//mixin for arrangement of elements
@mixin flex_between
  display: flex
  justify-content: space-between
//mixin for style link
@mixin link($color:#4743E0)
  text-decoration: none
  color: $color
//mixin for banner image
@mixin banner_place($width)
  width: $width
  height: 100%
  overflow: hidden
  position: absolute
  right: 0
  img
    height: 100%
    object-fit: fill