//import mixins
@import mixins
//global style
body
  margin: 0

.main__container
  max-height: 100%
  width: 45%
  background-color: #FFF
  padding: 5rem 7.5rem 0 7.5rem
//style for banner img
.banner-registration
  @include banner_place(50%)
//style for link already member
.aling_right
  text-align: right
  img
    padding-left: 1rem
//style for header and description
.header
  padding-top: 3rem
  padding-bottom: 4rem
  @include flex_between
  align-items: center
  text-align: left
  h1
    font-weight: 700
    font-size: 5.4rem
    color: #42505C
    margin: 0
    padding: 0
    line-height: 6.8rem
  p
    margin: 0
    padding-left: 7rem
    padding-right: 1rem
    @include main_font
//style for form input
.registration
  padding-top: 3rem
  border-top: .1rem dashed rgba(0, 0, 0, .2)
  display: flex
  flex-wrap: wrap
  row-gap: 1rem
  column-gap: 3rem
  &__input
    input
      @include account_input(28.1rem, 1.7rem)
    label
      @include flex_between

.registration__radio
  width: 30.2rem
  .radio__check
    @include flex_between
  input
    display: none
    &:checked+label
      color: #4743E0
      box-shadow: 0 0 1.4rem rgba(71, 67, 224, 0.2)
      border: 1px solid #4743E0
      span
        opacity: 1
  label
    border: 1px solid #D1D1D1
    height: 5.2rem
    width: 6.9rem
    display: flex
    align-items: center
    justify-content: center
    @include main_font
    span
      opacity: .4
  .radio__title
    @include flex_between

.last_word
  opacity: .3
//style dashed divided line
.line
  margin-top: 3rem
  margin-bottom: 2.5rem
  width: 100%
  border-bottom: .1rem dashed rgba(0, 0, 0, .2)
