//import google font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
//import another style
@import mixins
@import registration_page
//global style
html
  font-size: 10px

body
  @include main_font
  a
    @include link()


//style for container and img banner
.main
  height: 100vh
  display: flex
  background-color: #E5E5E5

.container
  height: 100%
  width: 37%
  background-color: #FFF

.banner
  @include banner_place(67%)

//style for header description and position form input
.login
  padding: 16.8rem 9rem 0 9rem
  &__header
    font-weight: 700
    font-size: 5.4rem
    color: #42505C
    margin: 0
  &__descr
    color: #404040
  &__form
    display: flex
    flex-direction: column
    border-top: .1rem dashed rgba(0, 0, 0, .2)
    padding-top: 4rem
    padding-bottom: 7.2rem

.form__label
  @include flex_between
  color: #333333

.form__username
  background: url("../img/icon/user.svg") no-repeat center left 8%
  @include account_input(85%, 14%)
  border-bottom: none
  &:focus
    background: url("../img/icon/user_focus.svg") no-repeat center left 8%

.form__password
  background: url("../img/icon/pass.svg") no-repeat center left 8%
  @include account_input(85%, 14%)
  &:focus
    background: url("../img/icon/pass_focus.svg") no-repeat center left 8%

//style for text forgot password
.form__forgot
  padding-top: 1.4rem
  border-bottom: .1rem dashed rgba(0, 0, 0, .2)
  padding-bottom: 3.5rem
  &:after
    display: block
    left: 0
    bottom: -1rem
    width: 0
    height: .2rem
    background-color: #56baed
    content: ""
    transition: width 0.4s
  &:hover:after
    width: 40%
//style for remember me checkbox
.check
  width: 100%
  padding-top: 5rem
  @include flex_between
  div
    display: flex
    align-items: center
  input
    border: 1px solid #D1D1D1
    width: 2.4rem
    height: 2.4rem
  label
    padding-left: 1.5rem
  button
    @include button()

//style for register he link
.register
  text-align: center
  margin-top: 8.5rem
  &__title
    color: #333333
    opacity: 0.3
  &__link
    color: #4743E0