/*import fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*Style text for all document*/
* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/*Style for header*/
.header {
    margin-top: 28px;
    margin-bottom: 30px;
}

/*Style for logo*/
.logo {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    color: #28CDE3;
}

.logo > span {
    color: #000;
}

/*style for main img and text*/
.main {
    padding-top: 228px;
    padding-bottom: 303px;
    background-image: url("../img/Sobor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main_text {
    text-transform: uppercase;
    border-left-style: solid;
    border-width: 24px;
    border-image: linear-gradient(rgb(51, 184, 241)0%, rgba(51,184,241,1)50%, rgb(232, 248, 47)50%) 1;
    font-weight: 700;
    font-size: 64px;
    line-height: 167.02%;
    color: #FFFFFF;
    padding-left: 59px;
    margin-left: 80px;
}

/*style for places of interest and card*/
.places {
    display: inline-block;
    padding-bottom: 15px;
    margin-top: 40px;
    margin-left: 76px;
    font-weight: 700;
    font-size: 48px;
    border-bottom: 5px solid #33B8F1;
}

.container {
    margin-top: 121px;
    margin-left: 76px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 408px;
    height: 481px;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transition: all .5s;
}

.card > img {
    width: 100%;
}

.card_title {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
}

.card_descr {
    padding-left: 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 167.02%;
}

/*style for section charitable support*/
.charity {
    overflow: visible;
    margin-top: 59px;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
}

.line {
    border-bottom: 5px solid #33B8F1;
    width: 358px;
    margin-top: 15px;
}

/*style for button*/
.btn {
    text-decoration: none;
    margin-top: 45px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 74px;
    background-color: #33ADF1;
    border: none;
    font-weight: 700;
    font-size: 48px;
    color: #FFF;
    transition: all .3s;
}

/*style for alignment section blocks charitable support and footer*/
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*style for footer of page and link, social media*/
.footer {
    margin-top: 181px;
    height: 405px;
    background-color: #0A2DA9;
}

.footer_social {
    margin-top: 42px;
    display: flex;
}

.footer_logo {
    margin-top: 49px;
}

.footer_logo span{
    color: #FFF;
}

.footer_social > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 64px;
    border-radius: 50%;
    background-color: #0931BF;
    text-decoration: none;
}

.footer_social a:nth-child(2) {
    margin-right: 54px;
    margin-left: 54px;
}
.footer_social a:nth-child(3) {
    margin-right: 54px;
}

.footer_mail, .footer_tel {
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    color: #353949;
}

.footer_mail {
    margin-top: 25px;
}

.footer_tel {
    margin-top: 35px;
}

/*Style for hover effect*/

.btn:hover {
    background-color: #F9DA4A;
}

.card:hover {
    transform: scale(1.05);
}